header {
    background-color: #59b879; 
    padding: 20px; 
    color: #fff;
    margin-bottom: 30px;
}

.navbar-brand { 
    font-size: 1.5rem; 
    color: #fff;
}

section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.card{
    width: 22rem;
    margin: auto;
    margin-bottom: 40px;
}
.card-img-top{
    width: 22rem;
    height: 26rem;
}

h4{
    margin-left: 20px;
}

.carousel-inner img { /* imagenes del carrusel*/
    width: 375px; 
    height: 450px; 
}

#carrusel1-container { 
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
#carrusel1 {
    width: 375px;
    height: 450px;
    margin-left: 40px; 
}
#txt1 {
    margin-left: 40px; 
    flex: 1;
    font-weight: bold;
    font-size: 18px;
}


footer {
    background-color: #000000; 
    padding: 30px;
    color: #53a08e; 
}